{% extends 'base.html' %}
{% block content %}

{% for item in posts %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{item.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{item.created_at}} by {{item.author}}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="#!">{{item.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{item.image.url}}" width="300" height="100" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{item.description}}</p>
                    <p class="fs-5 mb-4">{{item.blog_body}}</p>
                    </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4>Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for item in categories %}
                                <li><a href="#!">{{item.category}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4 p-3">
                <h4>Follow Us</h4>
                <ol class="list-unstyled">
                    {% for item in social_media %}
                    <li><a href="{{ item.link }}" target="_blank">{{item.platform}}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}