<div class="col-12 col-md-2">
  <ul class="nav flex-row flex-md-column justify-content-start justify-content-md-start">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'category_view' %}">Categories</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'post_view' %}">Posts</a>
    </li>

    {% if perms.auth.view_user %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user_view' %}">Users</a>
    </li>
    {% endif %}

  </ul>
</div>
